/* Import Google font - Poppins */

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #6a6868;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .eventimg) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background-color: rgb(17 24 39/var(--tw-bg-opacity));
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 17px;
  border: 2px solid #f0eeee;

}
.carousel .card .eventimg {
  height: 208px;
  width: 208px;
  border-radius: 50%;
}
.card .eventimg img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  /* border: 4px solid #111010; */
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



.wrapper2 {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper2 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #6a6868;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper2 i:active{
    transform: translateY(-50%) scale(0.85);
}
  .wrapper2 i:first-child{
    left: -22px;
  }
  .wrapper2 i:last-child{
    right: -22px;
  }
  .wrapper2 .carousel2{
    display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
  .carousel2::-webkit-scrollbar {
    display: none;
  }
  .carousel2.no-transition {
    scroll-behavior: auto;
  }
  .carousel2.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel2.dragging .card2 {
    cursor: grab;
    user-select: none;
  }
  .carousel2 :where(.card2, .eventimg2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel2 .card2 {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 17px;
    border: 2px solid #f0eeee;
  }
  .carousel2 .card2 .eventimg2 {
    height: 208px;
  width: 208px;
  border-radius: 50%;
  }
  .card2 .eventimg2 img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    /* border: 4px solid #111010; */
  }
  .carousel2 .card2 h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel2 .card2 span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
  @media screen and (max-width: 900px) {
    .wrappe\r2 .carousel2 {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper2 .carousel2 {
      grid-auto-columns: 100%;
    }
  }

  .nontechnical{
    margin-top: 5vh;
}